{% extends "layout.html" %} {% block page_content %}

<div class="course">

  <div class="course details">

    <h1 class='title'>{{course.name}} </h1>
    <h2 class='description'>{{course.descriptionHeading}} </h2>
    {% if course['teacherFolder'] %}
    <a href="{{ course['teacherFolder']['alternateLink'] }}" target="_blank">drive</a>
    {% endif %}
    <h4>Taught by:
      {% for teacher in teachers %}
        {{ teacher['profile']['name']['fullName'] }}
      {% endfor %}
    </h4>
    <p class='description'>{{course.description}} </p>

    <p>
      <ul>
        {% if course.room %}
          <li>
          Room: {{course.room}}
        </li>
          {% endif %}
          {% if course.section %}
          <li>
          Section: {{course.section}}
        </li>
          {% endif %}
        <li>
          Course State: {{course.courseState}}
        </li>
      </ul>
      
    </p>
  </div>

  <ul class="tabs" role="tablist">
    <li>
      <input type="radio" name="tabs" id="tab1" checked />
      <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">Announcemnts</label>
      <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
        <div>
            <button class="button-primary" onclick="location.href = '/announcements/create/{{ courseId }}'"> Create announcement </button>
            <div id="announcements">
    
              {% if announcements %} 
                {% for announcement in announcements %}
    
                <div class="announcement">
                  <h1>{{ announcement.title }}</h1>
                  <p>{{announcement.content }}</p>
                  <aside>{{announcement.ownerEmail}}</aside>
                </div>
    
                {% endfor %}
              {% else %}
                No announcements yet..
              {% endif %}
            </div>
        </div>
      </div>
    </li>

    <li>
      <input type="radio" name="tabs" id="tab2" />
      <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Content</label>
      <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div>
          <button class="button-primary" onclick="location.href = '/content/{{ courseId }}'">Create Content</button>
          <div class="announcement">

            <!--{{ content }}-->

            {% if content %}
              {% for item in content %}

              <div class="announcement">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description }}</p>
                <aside>{{ item.workType }}</aside>
               {% endfor %}
            {% else %}
                No Content yet..
            {% endif %}
              </div>
          </div>
        </div>

    <!-- discussion -->
    <li>
      <input type="radio" name="tabs" id="tab3" />
      <label for="tab3" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Discussion</label>
      <div id="tab-content3" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div>

          <!--<a href="/discussion/{{courseId}}">Add discussion topic</a>-->
          <button class="button-primary" onclick="location.href = '/discussion/create/{{ courseId }}'"> Create Discussion </button>

          <div id="discussionTopics">


            {% for topic in discussionTopics %}

            <!-- add link to page for disussion topic -->
            <a href="/courseDiscussion/{{ course.id }}">
              <div class="discussionTopic">
                <h2>{{topic.title}}</h2>  
                <p>{{topic.description}}</p>
                <p>Posted by: {{ topic.ownerEmail}} on {{ topic.timestamp }}</p>
                <a href="/courseDiscussion/{{ course.id }}">
                </a>

              </div>
            
              <hr>
              {% endfor %}

          </div>

        </div>
      </div>
    </li>

    <li>
      <input type="radio" name="tabs" id="tab5" />
      <label for="tab5" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Members</label>
      <div id="tab-content4" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div id="options-tab">
          <h4>Teachers</h4>
          <ul>
              {% for teacher in teachers %}
                <li>
                  {{ teacher['profile']['name']['fullName'] }}
                </li>
              {% endfor %}
          </ul>

          <hr>

          <h4>Students</h4>
          <ul>
            {% for student in students %}
              <li>{{student['profile']['name']['fullName']}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>

    <li>
      <input type="radio" name="tabs" id="tab4" />
      <label for="tab4" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Options</label>
      <div id="tab-content5" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div id="options-tab">
         
          <ul>
            {% if isTeacher %}

             <li><button class="button-primary" onclick="location.href='/course/{{courseId}}/details'">Update Course Details</button></li>
             <li><button class="button-primary" onclick="location.href='/invite/teacher/{{ courseId }}'">Invite Teachers</button></li>
            {% endif %}
              <li><button class="button-primary" onclick="location.href='/invite/student/{{ courseId }}'">Invite Students</button></li>
              <li><button class="button-primary" onclick="location.href='/course/{{courseId}}/leave'">Leave Course</button></li>
          </ul>
        </div>
      </div>
    </li>


  </ul>

  <br style="clear: both;" />

  <div id="course-code">
      <button onclick="showEnrollmentCode(false)">&times;</button>
    <h1>
      {{ course['enrollmentCode'] }}
    </h1>
  </div>

</div>


{% endblock %}


{% block scripts %}

<script>
  function showEnrollmentCode(bool){
    if (bool){
      document.querySelector('#course-code').style.display = 'block'
    } else {
      document.querySelector('#course-code').style.display = 'none'      
    }
  }
</script>

{% endblock %}