{% extends "layout.html" %} {% block page_content %}

<div class="course">


  <h1 class='title'>{{course.name}} </h1>
  <h2 class='description'>{{course.descriptionHeading}} </h2>
        <a href="{{ course['teacherFolder']['alternateLink'] }}" target="_blank">drive</a>

  <div class="tab-container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label style="margin-left: 13%" for="tab1">ANNOUNCEMENTS</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">CONTENT</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">DISCUSSION</label>



    <section id="content1">
      <div class="sliderz">
        {{ course }}
            <button onclick="location.href = '/announcements/create'"> Create announcement </button>
        <p>Some shit on Announcements</p>
      </div>
    </section>

    <section id="content2">
      <div class="sliderz">
        {{content}}
      </div>
    </section>

    <section id="content3">
      <div class="sliderz">
        <p>Some shit on Discussion</p>
      </div>
    </section>

  </div>

</div>



{% endblock %}