{% extends "layout.html" %} {% block page_content %}

<div class="course">

  <div class="course details">

    <h1 class='title'>{{course.name}} </h1>
    <h2 class='description'>{{course.descriptionHeading}} </h2>
    <a href="{{ course['teacherFolder']['alternateLink'] }}" target="_blank">drive</a>
    <p class='description'>{{course.description}} </p>
    

    <p>
      <ul>
        <li>
          {% if course.room %}
          Room: {{course.room}}
          {% endif %}
        </li>
        <li>
          {% if course.section %}
          Section: {{course.section}}
          {% endif %}
        </li>
        <li>
          Course State: {{course.courseState}}
        </li>
      </ul>
      
    </p>
  </div>

  <ul class="tabs" role="tablist">
    <li>
      <input type="radio" name="tabs" id="tab1" checked />
      <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">Announcemnts</label>
      <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
        <div>
            <button onclick="location.href = '/announcements/create/{{ courseId }}'"> Create announcement </button>
            <div id="announcements">
    
              {% if announcements %} 
                {% for announcement in announcements %}
    
                <div class="announcement">
                  <h1>{{ announcement.title }}</h1>
                  <p>{{announcement.content }}</p>
                  <aside>{{announcement.ownerEmail}}</aside>
                </div>
    
                {% endfor %}
              {% else %}
                No announcements yet..
              {% endif %}
            </div>
        </div>
      </div>
    </li>

    <li>
      <input type="radio" name="tabs" id="tab2" />
      <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Content</label>
      <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div>
          <a href="/content/{{courseId}}">Add Content</a>
        </div>
      </div>
    </li>

    <li>
      <input type="radio" name="tabs" id="tab3" />
      <label for="tab3" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Discussion</label>
      <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div>
          <p>Some shit on Discussion</p>
        </div>
      </div>
    </li>

    <li>
      <input type="radio" name="tabs" id="tab4" />
      <label for="tab4" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Options</label>
      <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div id="options-tab">
         
          <ul>
            <li><a href="/course/{{courseId}}/details">Update course details</a></li>
            <li><a href="">Invite students</a></li>
            <li><a href="">Invite lecturers</a></li>
            <li><a href="">Delete course</a></li>
            
          </ul>

        </div>
      </div>
    </li>


  </ul>

  <br style="clear: both;" />

</div>



{% endblock %}