{% extends "layout.html" %} {% block page_content %}

<div class="courses">

  <div class="top-bar">
      <button class="u-pull-right" onclick="location.href = '/course/create'"> Create course </button>
      <h1>Current enrollments</h1>
      
    <select id="courseFilter" name="courseState" onchange="filterChanged()">
        <option value="ACTIVE">Active</option>
        <option value="ARCHIVED">Archived</option>
        <option value="PROVISIONED">Provisioned</option>
        <option value="DECLINED">Declined</option>
        <option value="SUSPENDED">Suspended</option>
    </select>
  </div>

  <div class="courses-container">
      {% if courses %}
      {% for course in courses %}
          <div class="course-item {{ course['courseState'] }}" >

            {% if course['courseState']  == 'PROVISIONED' %}
            <button class="button-primary" onclick="location.href='/course/activate/{{course.id}}';">Activate</button>
              {% endif %}
            <a href="/course/{{ course.id }}">
                  <h2 style="color: darkblue">{{ course.name }}</h2>
                  <h3 style="color: darkblue">{{ course.description }}</h3>

                  {% if course['teacherFolder'] %}
                  <a href="{{ course['teacherFolder']['alternateLink'] }}" target="_blank" class="decorated">Google Drive</a>
                  {% endif %}
              </a>
          </div>
      {% endfor %}
      {% else %}
          <h3>You have not yet joined any classes...</h3>
      {% endif %}

  </div>

</div>

{% endblock %}

{% block scripts %}

<Script>

    let courses = document.querySelectorAll(".course-item");

    let selectedItem = document.getElementById("courseFilter");

    function filterChanged(){

        var item = selectedItem.options[selectedItem.selectedIndex].value;
        console.log(item)

       showItems(item);
    }

    function showItems(selectedClass) {

        selectedClass = selectedClass.toUpperCase();
        let selectedCourses = document.querySelectorAll("." + selectedClass);
        console.log(selectedCourses);

        courses.forEach((item) => {
            item.style.display = "none";
        });

        selectedCourses.forEach((item) => {
            item.style.display = "block";
        });

    }
</Script>

{% endblock %}