{% extends "layout.html" %} {% block page_content %}

    <div id="course-details">

        <h1>Edit details for: {{ course.name }}</h1>
        <h4>Last updated: {{ course.updateTime }}</h4>
        <hr>

        <form method="post" action="/course/{{ course.id }}/details">
            <div class="row">
                <div class="eight columns">
                    <label for="name">Name</label>
                    <input type="text" name="name" value="{{ course.name }}">
                </div>
                <div class="two columns">
                    <label for="section">Section</label>
                    <input type="text" name="section" value="{{ course.section }}">
                </div>
            </div>

            <div class="row">
                <div class="two columns">
                    <label for="description-heading">Description heading</label>
                    <input class="five columns"  type="text" name="description-heading" value="{{ course.descriptionHeading }}">
                </div>
                <div class="eight columns">
                    <label for="description">Description</label>
                    <input class="five columns"  type="text" name="description" value="{{ course.description }}">
                </div>
            </div>

            <div class="row">
                <div class="two columns">
                
                    <label for="courseState">Course state:</label>
                    <select class="2 columns" id="courseState" name="courseState">
                        <option value="{{ course.courseState }}" selected disabled hidden>{{ course.courseState }}</option>
                        <option value="ARCHIVED">ARCHIVED</option>
                        <option value="PROVISIONED">PROVISIONED</option>
                        <option value="DECLINED">DECLINED</option>
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="SUSPENDED">SUSPENDED</option>
                    </select>
                </div>
                <div class="two columns">
                
                    <label for="room">Room</label>
                    <input class="2 columns"  type="text" name="room" value="{{ course.room }}">
                </div>
            </div>
            <input class="button-primary" value="Submit" type="submit">
            <input class="button" value="Cancel" type="button">

        </form>

        <hr>

    </div>

{% endblock %}