{% extends 'layout.html' %} {% block page_content %}
<div class="container">
    <form id="announceForm" action="/announcements/create/{{ course.id }}" method="post">
        <center>

            <div>
                <h1>Create announcement for {{ course['teacherFolder']['title'] }}</h1>
            </div>

            <p>Enter Announcement title: </p>
            <input type="text" name="title" size="70">

            <p>Enter announcement description: </p>
            <input type="text" name="description" size="70">

            <p>Upload file here: </p>
            <input type="file" />
            <p>--------------------</p>
            <br>
            <button type="submit"> Submit </button>
            </br>

        </center>
    </form>


</div>
{% endblock %}