{% extends 'layout.html' %} {% block page_content %}
<div class="container">
    <form id="announceForm" action="/announcements/create/{{ course.id }}" method="post">
        <center>

            <div>
                <h1>Create announcement for: {{ course['teacherFolder']['title'] }}</h1>
            </div>

            <label>Enter Announcement title: </label>
            <input type="text" name="title" size="70" style="margin-right: 50%;">

            <label>Enter announcement description: </label>
            <input type="text" name="description" size="70"style="margin-right: 50%;">

            <br>
            <button type="submit"> Submit </button>
            </br>

        </center>
    </form>


</div>
{% endblock %}