{% extends 'layout.html' %}

{% block page_content %}
    <div class="container">
<h1>Discussion</h1>
<h2>
    This is the Discussion Page
</h2>
<p>Course Discussion</p>

<hr>
<form id = coursediscussionForm  action="/courseDiscussion/{{ course.id }}" method="post";  >


          <h4>Discussion</h4>
         {% for uMessage in discussionItem %}

            <div id="discussionItem">

            <!-- add link to page for disussion topic -->
              <div class="discussionItem">
                <p>{{uMessage.content}}</p>
                <p>Posted by: {{ uMessage.ownerEmail}} on {{ uMessage.timestamp }}</p>
                </a>

              </div>
            </div>
              <hr>
              {% endfor %}
    <br>

    <br>
    <label for="messageText"><b></b></label>
        <input type="text" placeholder="Send a Message" name="uMessage" id="messageText" required>
    <br>
        <br>
     <button type="submit"> Send </button>
<hr>

</form>

</div>
{% endblock %}