{% extends 'layout.html' %}

{% block page_content %}
        
<h1>Discussion</h1>
<h2>
    {{ discussion }}
</h2>
<p>Course Discussion</p>

<hr>
<form id ="discussionForm"  action="/discussion/create/{{ course.id }}" method="post">


    <label for="dissTopic"><b>Discussion Topic</b></label>
    <input type="text" name="topic" id="dissTopic" required>
    <br>

    <br>
    <label for="messageText"><b></b></label>
        <input type="text" placeholder="Topic description" name="description" id="messageText" required>
    <br>
        <br>
     <button type="submit"> Submit </button>
<hr>

</form>

{% endblock %}