{% extends 'layout.html' %}

{% block page_content %}
        
<h1>Discussion</h1>
<h2>
    {{ discussion }}
</h2>

<hr>
<form id ="discussionForm"  action="/discussion/create/{{ course.id }}" method="post">


    <label for="dissTopic"><b>Discussion Topic</b></label>
    <input type="text" name="topic" id="dissTopic" required>
    <br>

    <br>
    <label for="messageText"><b>Discussion Description</b></label>
        <input type="text" placeholder="" name="description" id="messageText" required>
    <br>
        <br>
    <div style="text-align: center">
     <button class="button-primary" type="submit"> Submit </button>
        </div>
<hr>

</form>

{% endblock %}