<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title != None and title != False %}
      <title>{{title}} | Paranormal minds</title>
    {% else %}
      <title>Paranormal minds</title>
    {% endif %}
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="355461818608-h7e28b0odjqb686gsna4h6j152am0egk.apps.googleusercontent.com">
</head>
<body>

    <div id="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>