@import "main.scss";

.courses {

  width: 90%;
  margin: 5% auto;

  .top-bar {
    display: flex;
    width: 100%;
  }

  &-container {


    .course-item {
      text-align: center;
      display: inline-block;
      border: 1px solid $primaryDark;
      width: 20%;
      margin-bottom: 3%;
      color: black;

      &:hover{
        box-shadow: 5px 5px rgba(81,5,37,0.2);
        background: $primaryDark;
        color: white;
          .decorated {
            color: paleturquoise;
          }
        a{
          color: white;

        }
      }

      a {
        text-decoration: none;
        color: black;

        &.decorated {
          color: $primaryDark;

          &:hover {
           color: $primaryLight;
          }

        }
      }
    }

  }
}

.sliderz {
  width: 100%;
}