#name{
  color: #C187C1;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 22px;
  padding-top: 1%;
  margin-right: 5%;
}

#welcome {
  text-align: center;
  margin-right: 20%;
}

.fit {
    padding-top: 10px;
    position: absolute;
    top: 50%; right: 20%; bottom: 0px; left: 5%;
    text-align: center;
}