{% extends "layout.html" %}

{% block page_content %}
<h1>
    Welcome to paranormal minds support portal
</h1>

<h3>
    We understand that the transition from school to university comes with many complications. Our purpose is to help
    with the stress that this transition brings via our online portal service. This service is aimed at aiding
    you in your studies with support from our tutors and this online space. You are able to view course information
    and available study notes, upload assignments, ask questions and more! Sign up with your google account now!
</h3>



{% endblock %}
