{% extends "layout.html" %}

{% block page_content %}


<div>
    <!-- signed in -->
    {% if user %}
        <h1 id="welcome">
            Welcome to paranormal minds support portal
        </h1>
        <h3>Please select a course to continue</h3>
    {% else %}
        <!-- not signed in -->
        <h2>This is paranormal minds</h2>
        
        <h3 class="fit">
            We understand that the transition from school to university comes with many complications.
            Our purpose is to help with the stress that this transition brings via our online portal service.
            This service is aimed at aiding you in your studies with support from our tutors and this online space.
            You are able to view course information and available study notes, upload assignments, ask questions and more!
            Sign up with your google account now!
        </h3>
    {% endif %}
</div>




{% endblock %}
